
body {
  background-color: #ffffff;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  background-color: #fff;
}
